@font-face {
  font-family: 'mplus-1m-thin';
  src: url("http://mplus-webfonts.sourceforge.jp/mplus-1m-thin.eot");
  src: url("http://mplus-webfonts.sourceforge.jp/mplus-1m-thin.eot?#iefix") format("embedded-opentype"), url("http://mplus-webfonts.sourceforge.jp/mplus-1m-thin.woff") format("woff"), url("http://mplus-webfonts.sourceforge.jp/mplus-1m-thin.ttf") format("truetype");
}

#archive {
  width: 375px;
}

#archive .wrapper {
  width: 375px;
}

#archive header {
  background-color: #FFF7EF;
}

#archive header nav {
  text-align: right;
  padding-top: 10px;
}

#archive header nav a {
  padding-right: 15px;
  color: #707070;
  font-size: 1.25rem;
  font-weight: 500;
}

#archive header h1 {
  text-align: center;
  color: #707070;
  font-weight: 500;
  font-size: 2.5rem;
}

#archive header .background-img {
  height: 285px;
  background-image: url("images/iPhone/archive-bg1.png");
  background-repeat: no-repeat;
  background-position: top -748px left 0px;
  margin-top: 44px;
}

#archive header .background-img .background-shadow {
  height: 285px;
  background-color: rgba(0, 0, 0, 0.5);
}

#archive header .background-img h2 {
  padding-top: 110px;
  padding-left: 30px;
  color: #fff;
  font-weight: bold;
  font-size: 2.25rem;
}

#archive header .background-img p {
  color: #fff;
  padding-left: 30px;
  padding-top: 5px;
}

#archive header .search_container .fontawesome {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: 100;
  line-height: 0.8;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.55rem;
  margin-left: 22px;
  margin-top: 40px;
}

#archive header .search_container input[type="text"] {
  border: 1px solid #363535;
  padding: 3px 10px;
  border-radius: 10px;
  height: 2.8rem;
  width: 230px;
  overflow: hidden;
  background-color: #fff;
}

#archive header .search_container input[type="text"]:focus {
  outline: 0;
  height: 2.8rem;
}

#archive header .search_container input[type="submit"] {
  cursor: pointer;
  font-family: FontAwesome;
  font-size: 1rem;
  background: #F2EDE9;
  border: 1px solid #363535;
  border-radius: 10px;
  color: #707070;
  outline: none;
  width: 80px;
  height: 2.8rem;
  margin-left: 20px;
  display: inline-block;
  position: absolute;
  top: 121px;
  left: 245px;
}

#archive .archive-content {
  background-color: #FFFDFA;
}

#archive .archive-content section:nth-child(n+3) {
  padding-top: 20px;
}

#archive .archive-content section {
  font-family: "M PLUS 1p", sans-serif;
}

#archive .archive-content section h2 {
  font-weight: 300;
  font-size: 1.70rem;
  margin-left: 20px;
  padding-top: 28px;
}

#archive .archive-content section p {
  width: 350px;
  margin-left: 20px;
  padding-top: 25px;
  padding-bottom: 30px;
  font-weight: 300;
  line-height: 1.70rem;
}

#archive .archive-content .sub-content-area {
  color: #fff;
}

#archive .archive-content .sub-content-area img {
  height: 235px;
  margin-left: 17px;
}

#archive .archive-content .sub-content-area .sub-content-info {
  background-color: #3C2B1C;
  height: 355px;
  width: 342px;
  margin-top: -7px;
  margin-left: 17px;
}

#archive .archive-content .sub-content-area .sub-content-info h2 {
  font-size: 1.25rem;
}

#archive .archive-content .sub-content-area .sub-content-info p {
  padding-bottom: 0px;
  width: 250px;
}

#archive .archive-content .sub-content-area .sub-content-info p:nth-child(3) {
  padding-top: 0px;
}

#archive .archive-content .sub-content-area .sub-content-info a {
  background-color: #fff;
  color: #707070;
  text-align: center;
  display: block;
  width: 160px;
  padding: 10px 0px;
  margin: 50px auto;
  border-radius: 40px;
}

#archive .archive-content .paging-area {
  height: 115px;
  margin-left: 18px;
  width: 342px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#archive .archive-content .paging-area div {
  margin-top: 64px;
  margin-bottom: 27px;
}

#archive .archive-content .paging-area div a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#archive .archive-content .paging-area div a img {
  width: 19px;
  height: 19px;
  margin-top: 3px;
}

#archive .archive-content .paging-area div a p {
  color: #707070;
}

#archive .archive-content .paging-area div a .left {
  margin-left: 5px;
}

#archive .archive-content .paging-area div a .right {
  margin-right: 5px;
}
/*# sourceMappingURL=archive.css.map */