@charset "UTF-8";
@font-face{ 
  font-family: 'mplus-1m-thin';
  src: url('http://mplus-webfonts.sourceforge.jp/mplus-1m-thin.eot');
  src: url('http://mplus-webfonts.sourceforge.jp/mplus-1m-thin.eot?#iefix') format('embedded-opentype'),
       url('http://mplus-webfonts.sourceforge.jp/mplus-1m-thin.woff') format('woff'),
       url('http://mplus-webfonts.sourceforge.jp/mplus-1m-thin.ttf') format('truetype');
}
@mixin align-center($margin: 0px){
  display:block;
  margin: $margin auto;
}

@mixin button($margin: 0px) {
          background-color:#fff;
          color:$gray-color;
          text-align:center;
          display:block;
          width:160px;
          padding: 10px 0px;
          margin:$margin auto;
          border-radius:40px;
}

$gray-color:#707070;
$base-color:#FFF7EF;
$font-M:'M PLUS 1p', sans-serif;
$font-R:'Roboto', sans-serif;
$back-color:#FFFDFA;
$shadow-color-bold:rgba(0,0,0,.6);
$shadow-color:rgba(0,0,0,.5);
$shadow-color-thin:rgba(0,0,0,.4);
$brown-color:#3C2B1C;

html {
  font-size: 100%
}

a {
  text-decoration: none;
}

body {
  font-family: $font-R;
}

#nav-input {
  margin-left:320px;
  position: absolute;
  top:-440px;
  z-index:9999;
}
  

#nav-drawer {
  position: relative;
}

/* チェックボックス等は非表示に */
.nav-unshown {
  display:none;
}
#nav-open {
  display: inline-block;
  width: 30px;
  height: 22px;
  margin-left:320px;
  position:absolute;
  top:-484px;
  z-index:9999;
}

/*閉じる用の薄黒箇所*/
#nav-close {
  display: none;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  transition: .3s ease-in-out;
}

/*メニューの中身*/
#nav-content {
  overflow: auto;
  position: fixed;
  top: 0;
  left: 47px;
  z-index: 9000;
  width: 328px;
  max-width: 330px;/*最大幅（お好みで調整を）*/
  height: 100%;
  background-color:#F2EDE9;
  transition: .3s ease-in-out;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  text-align:left;
  font-family: $font-M;
  font-weight:100;
  padding-top:210px;
  line-height:2.9rem;

  h2,
  h3,
  h4 {
    font-weight:100;
    font-size:1.35rem;
    padding-left:50px;
  }

  ul {
    padding-left:70px;
    padding-top:17px;
    padding-bottom:20px;
    list-style:none;
    font-size:1.175rem;
  }
  .my-parts {
    display: inline-block;
    width: 50px;
    height: 50px;
    position: absolute;
    top:5px;
    right:10px;
    cursor: pointer;
  }
  .my-parts span::before,
  .my-parts span::after {
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 84%;
    height: 10%;
    margin: -8% 0 0 -42%;
    background:#868383;
  }
  .my-parts span::before {
    transform: rotate(-45deg);
  }
  .my-parts span::after {
    transform: rotate(45deg);
  }
  }



/*チェックがついたら表示させる*/
#nav-input:checked ~ #nav-close {
  display: block;
  opacity: .5;
}

#nav-input:checked ~ #nav-content {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  box-shadow: 6px 0 25px rgba(0,0,0,.15);
}

#front {
  width:375px;
  
  .wrapper {
    width: 375px;
  }

  header {
    background-color: $base-color;

    nav {
      text-align: right;
      padding-top: 10px;

      a {
        padding-right: 15px;
        color: $gray-color;
        font-size: 1.25rem;
        font-weight: 500;
      }
    }

    h1 {
      text-align: center;
      color: $gray-color;
      font-weight: 500;
      font-size: 2.5rem;
    }

    .background-img {
      height: 285px;
      background-image: url("images/iPhone/front-bg.png");
      background-repeat:no-repeat;
      margin-top:44px;

      h2 {
        padding-top: 110px;
        padding-left: 18px;
        color: #fff;
        font-weight: 100;
        font-size: 2.25rem;
      }
    }

    .search_container {

      .fontawesome {
        display: inline-block;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: 100;
        line-height: 0.8;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-size: 1.55rem;
        margin-left:22px;
        margin-top:40px;
      }

      input[type="text"] {
        border: 1px solid rgb(54, 53, 53);
        padding: 3px 10px;
        border-radius: 10px;
        height: 2.8rem;
        width:230px;
        overflow: hidden;
        background-color:#fff;
      }

      input[type="text"]:focus {
        outline: 0;
        height: 2.8rem;
      }

      input[type="submit"] {
        cursor: pointer;
        font-family: FontAwesome;
        font-size: 1rem;
        background: #F2EDE9;
        border: 1px solid rgb(54, 53, 53);
        border-radius: 10px;
        color: $gray-color;
        outline: none;
        width: 80px;
        height: 2.8rem;
        margin-left:20px;
        display: inline-block;
      }

    }// .search_containerのカッコ

    

  } // ←headerのカッコ

  .content{
    background-color:#FFFDFA;
  }


  .takeout-area {
    background-image: url("images/iPhone/front-bg2.png");
    height:681px;
    background-position: 20px 20px;
    background-size:335px;
    padding-top:25px;
    padding-left:15px;

    h2 {
      font-size:2.5rem;
      color:#EAEAEA;
      margin-left: 16px;
      margin-top:10px;
    }
    .section-area {
      margin-top:168px;
      margin-left:17px;
    }

    section {
      background-color:rgba(255,255,255,.8);
      width:312px;
      height:160px;
      color:$gray-color;

      h3 {
        font-family: $font-M;
        font-weight:bold;
        font-size:1.37rem;
        margin-left:10px;
        padding-top:20px;
      }

      p {
        padding-top:16px;
        padding-left:10px;

      }
    }// sectionのカッコ
    
    .sub-content1 {
      margin-bottom:10px;
    }

  }// takeout-areaのカッコ

  .eatin-area {
    background-image: url("images/iPhone/front-bg3.png");
    height:681px;
    background-position: 20px 0px;
    background-size:335px;
    padding-top:5px;
    padding-left:15px;

    h2 {
      font-size:2.5rem;
      color:#EAEAEA;
      margin-left: 16px;
      margin-top:10px;
    }
    .section-area {
      margin-top:148px;
      margin-left:17px;
    }

    section {
      background-color:rgba(255,255,255,.8);
      width:312px;
      height:160px;
      color:$gray-color;

      h3 {
        font-family:$font-M;
        font-weight:bold;
        font-size:1.37rem;
        margin-left:10px;
        padding-top:20px;
      }

      p {
        padding-top:16px;
        padding-left:10px;

      }
    }// sectionのカッコ
    
    .sub-content1 {
      margin-bottom:10px;
    }

  }// eatin-areaのカッコ

  .map-area {
    background-image: url("images/iPhone/front-map.png");
    height:691px;
    font-family:$font-M;

    .upper-area {
      background-color: rgba(0,0,0,.6);
      height:410px;
    }

    h2 {
      font-size:1.75rem;
      font-weight: 200;
      margin-left:40px;
      padding-top:40px;
      color:#fff;
    }

    hr {
      width:75px;
      height:3px;
      background-color: #fff;
      margin-left:40px;
      margin-top:20px;
    }

    p{
      width:295px;
      margin-left:40px;
      margin-top:3px;
      line-height:2.1rem;
      color:#fff;
      font-size:0.85rem;
      font-weight:100;
    }

    .lower-area {
      background-color: rgba(0,0,0,.4);
      height:281px;
    }

  }

}// ←#frontのカッコ

footer {
  background-color:#9D8670;
  height:150px;
  color:#fff;
  font-family: $font-M;
  width:375px;

  div {
    padding-top:32px;
    padding-left:60px;
  }
  a {
    color:#fff;
    font-size:1.175rem;
    font-weight:300;
  }
  p {
    padding-top:5px;
    padding-left:85px;
  }
}

// ここからarchiveページ　　　　　　　　　　　　　　　　　　　　　　　　

#archive {
  width:375px;
  
  .wrapper {
    width: 375px;
  }

  header {
    background-color: $base-color;

    nav {
      text-align: right;
      padding-top: 10px;

      a {
        padding-right: 15px;
        color: $gray-color;
        font-size: 1.25rem;
        font-weight: 500;
      }
    }

    h1 {
      text-align: center;
      color: $gray-color;
      font-weight: 500;
      font-size: 2.5rem;
    }

    .background-img {
      height: 285px;
      background-image: url("images/iPhone/archive-bg1.png");
      background-repeat:no-repeat;
      background-position:top -748px left 0px;
      margin-top:44px;

    .background-shadow {
      height: 285px;
      background-color:$shadow-color;
    }


      h2 {
        padding-top: 110px;
        padding-left: 30px;
        color: #fff;
        font-weight: bold;
        font-size: 2.25rem;

      }
      p {
        color:#fff;
        padding-left:30px;
        padding-top:5px;
      }
    }

    .search_container {

      .fontawesome {
        display: inline-block;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: 100;
        line-height: 0.8;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-size: 1.55rem;
        margin-left:22px;
        margin-top:40px;
      }

      input[type="text"] {
        border: 1px solid rgb(54, 53, 53);
        padding: 3px 10px;
        border-radius: 10px;
        height: 2.8rem;
        width:230px;
        overflow: hidden;
        background-color:#fff;
      }

      input[type="text"]:focus {
        outline: 0;
        height: 2.8rem;
      }

      input[type="submit"] {
        cursor: pointer;
        font-family: FontAwesome;
        font-size: 1rem;
        background: #F2EDE9;
        border: 1px solid rgb(54, 53, 53);
        border-radius: 10px;
        color: $gray-color;
        outline: none;
        width: 80px;
        height: 2.8rem;
        margin-left:20px;
        display: inline-block;
      }

    }// .search_containerのカッコ

  }// headerのカッコ
  .archive-content {
    background-color:$back-color;
    
    section:nth-child(n+3) {
      padding-top:20px;
    }

    section{
      font-family: $font-M;
    
      h2 {
        font-weight:300;
        font-size:1.70rem;
        margin-left:20px;
        padding-top:28px; 
      }
      p {
        width:350px;
        margin-left:20px;
        padding-top:25px;
        padding-bottom:30px;
        font-weight:300;
        line-height:1.70rem;
      }

    }// sectionのかっっこ

    .sub-content-area {
      color:#fff;
      img {
        height:235px;
        margin-left:17px;
      }
    
      .sub-content-info {
        background-color:$brown-color;
        height:355px;
        width:342px;
        margin-top:-7px;
        margin-left:17px;

        h2{
          font-size:1.25rem;
        }
        p {
          padding-bottom:0px;
          width:250px;
        }
        p:nth-child(3) {
          padding-top:0px;
        }
      
        a {
         @include button(50px);
        }
      }// .sub-content-infoのカッコ
    
    }// .sub-content-areaのカッコ

    .paging-area {
      height:115px;
      margin-left:18px;
      width:342px;
      display:flex;
      justify-content:space-between;

      div {
        margin-top: 64px;
        margin-bottom: 27px;
        
        a{
          display:flex;

          img {
            width: 19px;
            height: 19px;
            margin-top: 3px;
          }
          p {
            color:$gray-color;
          }

          .left {
            margin-left:5px;
          }

          .right {
            margin-right:5px;
          }
        }
      }
     
    
    }// paging-areaのカッコ

  }// archive-contentのカッコ

}// ＃archiveのカッコ